.bollywood-latest-section {
    width: 83%;
    margin: 80px auto 0 auto;
}

.home-bollywood {
    margin: auto;
    width: 83%;
}

.bollywoodTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bollywood-tile img {
    border-radius: 8px;
    height: 25vh;
    width: 100%;
    margin-bottom: 20px;
}

.bollywood-tile {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.bollywood-title {
    margin: 10px 0 30px 0;
}

.underline {
    background-color: #e00824;
    cursor: pointer;
    height: 3px;
    margin: 0;
    width: 4rem;
    opacity: unset;
}

.latest-bollywood {
    text-align: start !important;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 13px;
    -webkit-box-orient: vertical;
}

.title {
    font-size: 20px;
    text-align: start;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

p {
    text-align: justify;
    margin: 0 !important;
    padding-left: 30px;
}

.date {
    margin-top: 12px !important;
    font-size: 12px;
    color: #a09999;
}

.full-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 83%;
    margin: 90px auto 0 auto;
}

@media only screen and (max-width: 1024px) and (min-width: 350px) {
    .bollywood-latest-section {
        margin: 0;
        width: 100%;
        margin: 45px auto 0 auto;
    }

    .bollywoodTile {
        flex-direction: column;
    }

    .bollywood-tile {
        width: 100%;
        padding-bottom: 15px;
    }

    .bollywood-tile img {
        margin-bottom: 3px;
    }

    .full-view {
        margin: 45px auto 0 auto;
        width: unset;
    }

    p {
        padding-left: 0;
    }
}